body{
    background-image:url('information/image/background.png');
}
img{
    position:relative;
    left:0px;
    top:0px;
    
}
    
/*这是一个容器，需要定位下拉内容,并且因为是inline-block,所以并不用set float属性*/
.dropdown{

    position:relative;
    right:0px;
    top:0px;
    display:block;
    float:right;
    
}

/*下拉按钮的样式*/
.dropbutton{
    background-color:white;
    color:blue;
    padding:23.7px;
    font-size:24px;
    font-weight: bold;
    border:burlywood;
    cursor:pointer;
}

/*下拉菜单的具体内容*/
.dropdown-content{
    display:none;
    position:absolute;
    background-color:gray;
    min-width:160px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;/* 允许元素重叠，浮于元素上面 */
}
/*下拉菜单的链接*/
.dropdown-content a{
    color:black;
    padding:12px 16px;
    text-decoration:none;
    display:block;
}
/*鼠标移上去之后修改链接的颜色*/
.dropdown-content a:hover{background-color:#f1f1f1}

/*鼠标移上去后显示下拉菜单*/
.dropdown:hover .dropdown-content{
    display:block;
}
.dropdown:hover .dropbutton{
    background-color:burlywood;
}

/*图片廊*/
/* 为图片廊设置一片空间 */
div.pic {
    position:relative;
    top:300px;
    margin: 2px;
      border: 1px solid #000000;
      height: auto;
      width: auto;
      float: left;
      text-align: center;
}    
div.pic img{
      display: inline;
      margin: 3px;
      border: 1px solid #ffffff;
}
div.img a:hover img {border: 1px solid #0000ff;}
div.description
{
     text-align: center;
      font-weight: normal;
    width: 120px;
    margin: 2px;
}