<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="js/angular.min.js"></script>
    </head>
    <body>

        <div ng-app="myApp" ng-controller="customersCtrl">
            <table>
                <tr ng-repeat="x in names">
                    <td>{{x.Name}}</td>
                    <td>{{x.Country}}</td>
                </tr>
            </table>
        </div>

        <script>
            var app = angular.module('myApp',[]);
            app.controller('customerCtrl',function($scope,$http){
                $http.get('login.html').success(function(response){$scope.names=response.records;});
            });
        </script>
    </body>
</html>