    .frame{
        position:absolute;
        background-color:#fff;
        margin:auto;


        width:1442px;
        height:1024px;
        
        top:0;
        left:0;
        right:0;
        
        z-index:-1;
    }

/* body details */

    .main{
    position: absolute;
    background-color: #fff;
    width: 1442px;
    height: 100%;
    margin: auto;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:0;
    }

/* Shadding pattern */
    .background{
    position: absolute;
    text-align:center;
    width:1442px;
    height:1024px;
    background-color:black; 
    margin:auto;
    overflow:auto;
    /* margin auto 和 overflow auto是让图像处于合适位置的关键 */
    opacity: 0.4;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*这个地方也很关键*/

    z-index:1;
    }

/* search button  */
    .search{
        position: absolute;
        background-color:white;
        border:none;
        padding:none;
        width:368px;
        height:48px;
        
        margin-left:998px;
        margin-right:78px;
        margin-top:72px;
        margin-bottom:904px;
        overflow:auto;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index:2;   
    } 

/* login part */

    .login_frame{
        position:absolute;
        background: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);

        margin-left:462px;
        margin-right:462px;
        margin-top:251px;
        margin-bottom:390px;

        padding-left:68px;
        padding-right:54px;
        padding-top:58px;
        padding-bottom:60px;

        height:383px;
        width: 516px;
        z-index:3; 
    }

    .login_frame .login_tag{
        font-family: HoneywellSansWeb-Bold;
        font-size: 15px;
        color: #303030;
        letter-spacing: 0;
        text-align: left;
    }

/* navigation packaging 导航栏*/

    .navigation{
        margin:auto;
        color:white;
        width: 1442px;
        height:60px;
    }

    /* 1.brand part */
    .navigation .brand
    {   
        float:left;
        padding:none;
        border:none;
        margin-top:30px;
        margin-left:23px;
        margin-right:126px;
    }
    
    .navigation .brand img 
    {   
        width:496px;
        height:26px;
    }

    /*2. list button part */

    .navigation .list{
        float:left;
        position:relative;
        border:none;      
        padding:none;
        margin-top:34px; 
    }

    .navigation .list ul{
        float:left;
        position:relative;
        /*去除本来的格式*/
        list-style:none;
        
    }
      
    .navigation .list ul li{
        /* 向左浮动  */
        float:left;
        border:none;
        padding:none;
        margin-right:45px;
    }

    .navigation li a{
        /*取消下划线的处理*/
        text-decoration:none;
        display:block;
        padding:0;
        border:none;
        margin:none;
        font-size:17px;
        letter-spacing: -0.2px;
        font-family:'HoneywellSansWeb-Bold';  
        color: #808080;
        /* padding-bottom:1px;设置盒子的宽度 */
    } 
    
    /*鼠标滑过的状态 */
    .navigation a:hover{
       border-bottom:1.5px solid  #1792E5;
       font-family: HoneywellSansWeb-Bold;
       font-size: 17px;
       color: #3A3A3A;
       letter-spacing: -0.2px;
    }  

    /*icon parts--图标部分--*/

    .navigation .icon{
        float:left;
        border:none;
        padding:none; 
        margin-top:34px;
    }

    .navigation .icon img{
        float:left;
        margin-right:23px;
        height:20px;
        width:20px;
    }

    .navigation .icon button{
        display:block;
        margin-left:0px;
        margin-right:10px;
        float:left;
        width:25.5px;
        height:25.5px;
    }

    .navigation .icon input{
        display:block;
        float:left;
        margin-left:0px;
        margin-right:10px;
        float:left;
        width:22px;
        height:22px;
        border:0;
    }
    
   
    /* 引用字体的方法 */
    @font-face
    {
        font-family: 'HoneywellSansWeb-Bold';
        /* 从css出发得先访问上级目录，在访问下级目录，所以要follow这样的标准写法 */
        src: url('../fonts/HoneywellSansWeb-Bold.eot');
        src: url('../fonts/HoneywellSansWeb-Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/HoneywellSansWeb-Bold.ttf') format('truetype'),
          url('../fonts/HoneywellSansWeb-Bold.woff') format('woff'),
          url('../fonts/HoneywellSansWeb-Bold.woff2') format('woff2'),
          url('../fonts/HoneywellSansWeb-Bold.svg') format('svg');
        font-weight: normal;
        font-style:normal;
    }

    @font-face
    {
        font-family: 'HoneywellSansWeb-Medium';
        /* 从css出发得先访问上级目录，在访问下级目录，所以要follow这样的标准写法 */
        src: url('../fonts/HoneywellSansWeb-Medium.eot');
        src: url('../fonts/HoneywellSansWeb-Medium.eot?#iefix') format('embedded-opentype'),
          url('../fonts/HoneywellSansWeb-Medium.ttf') format('truetype'),
          url('../fonts/HoneywellSansWeb-Medium.woff') format('woff'),
          url('../fonts/HoneywellSansWeb-Medium.woff2') format('woff2'),
          url('../fonts/HoneywellSansWeb-Medium.svg') format('svg');
        font-weight: normal;
        font-style:normal;
    }

    @font-face
    {
    font-family:'HoneywellSansWeb-MediumItalic';
    src:url('../fonts/HoneywellSansWeb-MediumItalic.eot');
    src: url('../fonts/HoneywellSansWeb-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HoneywellSansWeb-MediumItalic.ttf') format('truetype'),
    url('../fonts/HoneywellSansWeb-MediumItalic.woff') format('woff'),
    url('../fonts/HoneywellSansWeb-MediumItalic.woff2') format('woff2'),
    url('../fonts/HoneywellSansWeb-MediumItalic.svg') format('svg');
    font-weight:normal;
    font-style:normal;
    }

    @font-face
    {
        font-family:'HoneywellSans-Bold';
        src:url('../fonts/HoneywellSans-Bold.eot');
        src: url('../fonts/HoneywellSans-Bold.eot?#iefix') format('embedded-opentype'),
             url('../fonts/HoneywellSans-Bold.ttf') format('truetype'),
             url('../fonts/HoneywellSans-Bold.woff') format('woff'),
             url('../fonts/HoneywellSans-Bold.woff2') format('woff2'),
             url('../fonts/HoneywellSans-Bold.svg') format('svg');
             font-weight:normal;
             font-style:normal;
    }

    
    @font-face
    {
        font-family:'HoneywellSansWeb-Extrabold';
        src:url('../fonts/HoneywellSansWeb-Extrabold.eot');
        src: url('../fonts/HoneywellSansWeb-Extrabold.eot?#iefix') format('embedded-opentype'),
             url('../fonts/HoneywellSansWeb-Extrabold.ttf') format('truetype'),
             url('../fonts/HoneywellSansWeb-Extrabold.woff') format('woff'),
             url('../fonts/HoneywellSansWeb-Extrabold.woff2') format('woff2'),
             url('../fonts/HoneywellSansWeb-Extrabold.svg') format('svg');
             font-weight:normal;
             font-style:normal;
    }

    @font-face{
        font-family:'HoneywellSansWeb-Book';
        src:url('../fonts/HoneywellSansWeb-Book.eot');
        src: url('../fonts/HoneywellSansWeb-Book.eot?#iefix') format('embedded-opentype'),
             url('../fonts/HoneywellSansWeb-Book.ttf') format('truetype'),
             url('../fonts/HoneywellSansWeb-Book.woff') format('woff'),
             url('../fonts/HoneywellSansWeb-Book.woff2') format('woff2'),
             url('../fonts/HoneywellSansWeb-Book.svg') format('svg');
             font-weight:normal;
             font-style:normal;
    }

/*line*/

    .line{
        position:relative;
        background-color:#E1E1E1;
        height:1px;
        width:1442px;
    }
/* gallery part */
    .gallary{
        position:relative;
        padding-left:23px;
        padding-right:23px;
    }
 
/* three field parts */
    .field{
        padding-left:23px;
    }

    .dome 
    {
     display:block;
     float:left;
     margin-top:24px;
     margin-right:23px;
     border:1px solid rgba(4,4,4,0.20);
     padding:none;
     height:397px;
     width:449px;
    }

    .dome .header{

    display:block;
    margin:none;
    border:none;
    padding-left:15px;
    padding-top:20px;
    padding-bottom:23px;

    font-family: HoneywellSansWeb-Medium;
    font-size: 20px;
    color: #4F4F4F;
    letter-spacing: -0.24px;

    }

    .dome .img{
    display:block;
    margin:none;
    border:none;
    padding:none;
    }

    .dome .desc{
    display:block;
    margin:none;
    border:none;
    padding-left:12px;
    padding-top:18px;
    padding-bottom:18px;

    font-family: HoneywellSansWeb-Medium;
    font-size: 13px;
    color: #767676;
    letter-spacing: -0.15px;
    }

    .dome .tag{
    display:block;
    margin:none;
    border:none;
    padding-left:12px;
    padding-right:none;
    padding-top:none;
    padding-bottom:19px;

    font-family: HoneywellSansWeb-Bold;
    font-size: 16px;
    color: #1792E5;
    letter-spacing: -0.19px;
    }

 /* footer */   
    .footer{
        color:white;
        width: 1442px;
        height:70px;
        margin:none;
        padding-left:24px;
        padding-right:23px;
        border:none;
    }

    .footer .words{

        float:left;
        position:relative;
        margin-top:36px;
        padding:none;
        border:none;

        font-family: HoneywellSansWeb-Medium;
        font-size: 13px;
        color: #4F4F4F;
        letter-spacing: -0.15px;
    }

    .footer .icon{
        position:relative;
        float:left;
        border:none;
        padding:none; 
        margin-top:28px;
        margin-left:21px;
        margin-right:958px;
   }

    .footer .icon .img{

        float:left;
        margin-right:10px;
        padding:none;
        border:none;
        height:31px;
        width:31px;
    }

    .footer .copyright{
        position:relative;
        float:left;
        margin-top:36px;
        border:none;
        padding:none;

        font-family: HoneywellSansWeb-Medium;
        font-size: 13px;
        color: #4F4F4F;
        letter-spacing: -0.15px;
    }

 /* products_detail_list*/   

    .projects_detail_list{
        float:left;
        margin:none;
        border:none;
        padding-top:23px;
        padding-left:23px;
        padding-bottom:147px;
        height:842px;
        width: 378px;

        font-family: HoneywellSansWeb-Bold;
        font-size: 18px;
        color: #6D6D6D;
        letter-spacing: 0;
        line-height: 24px;
    }

    .projects_detail_img{

        margin:none;
        border:none;
        padding-bottom:124px;
        height:842px;
        width:1064x;
    }

    .projects_detail_list .project_item
    {
        margin-top:20px;
        margin-bottom:7px;
        position:relative;
        
    }

    .projects_detail_list .project_item .p{
        font-family: HoneywellSansWeb-Bold;
        font-size: 18px;
        color: #6D6D6D;
        letter-spacing: 0;
        line-height: 24px;
    }

    .projects_detail_list .project_item a{
        text-decoration:none;
        display:block;
        padding:0;
        border:none;
        margin:none;

        font-size:18px;
        letter-spacing: 0;
        font-family:'HoneywellSansWeb-Bold';  
        color: #808080;
    }

    .projects_detail_list .project_item a:hover{
        font-family: HoneywellSansWeb-Bold;
        font-size: 18px;
        color: #1792E5;
        letter-spacing: 0px;
    }

    .projects_detail_list .project_item ul{
        margin-top:7px;
    }

    .projects_detail_list .project_item ul li{
        position:relative;
        list-style-type:dot;
        font-family: HoneywellSansWeb-Medium;
        font-size: 14px;
        color: #6D6D6D;
        letter-spacing: 0;
        line-height: 24px;
    }

    .projects_detail_list .project_item ul li:hover{
        position:relative;
        list-style-type:dot;
        /* add underline */
   
        font-weight:bold;
        font-family: HoneywellSansWeb-Medium;
        font-size: 14px;
        color: #1792E5;
        letter-spacing: 0;
        line-height: 24px;
    }

    .projects_detail_list .project_item .video_edit_page ul li:hover{
        position:relative;
        list-style-type:dot;
        /* add underline */
        border-bottom:1px solid #1792E5;
        font-weight:bold;
        font-family: HoneywellSansWeb-Medium;
        font-size: 14px;
        color: #1792E5;
        letter-spacing: 0;
        line-height: 24px;
    }

    .video_products{
        float:left;
        position:relative;
        width:330px;
        height:324px;
        margin-top:24px;
        margin-right:24px;
        margin-bottom:24px;
 
        background: #F6F6F6;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10); 
    }

 
    .video_products .title{
        position:relative;
        width:123px;
        height:24px;
        margin-left:104px;
        margin-right:103px;
        margin-top:20px;
        margin-bottom:23px;

        font-family: HoneywellSansWeb-Medium;
        font-size: 20px;
        color: #4F4F4F;
        letter-spacing: -0.24px;
    }

    .video_products .modify{
        display:block;
        height:67px;
        width:330px;
    }

    .video_products .modify .delete{
            float:left;
            position:relative;
            margin-left:19.4px;
            margin-top:20.4px;
    }

    .video_products .modify .title{
            position:relative;
            float:left;
            width:123px;
            height:24px;
            margin-left:63.4px;
            margin-right:59.8px;
            margin-top:20px;

            font-family: HoneywellSansWeb-Medium;
            font-size: 20px;
            color: #4F4F4F;
            letter-spacing: -0.24px;
    }

    .video_products .modify .edit{
            float:left;
            margin-top:20.4px;
            position:relative;
    }

    .video_products .pic{
        position:relative;
        padding-left:69px;
        width:330px;
        height:181px;
    }

    .video_products .des{
        position:relative;
        width:235px;
        height:16px;
        margin-left:54px;
        margin-right:41px;
        margin-top:39px;
        margin-bottom:21px;

        font-family: HoneywellSansWeb-Medium;
        font-size: 13px;
        color: #767676;
        letter-spacing: -0.15px;
    }

/* Delete Square */

   #delete_module{
       display:block;
   }

   #delete_module .delete_square{
       position:absolute;
       margin-left:708px;
       margin-top:176px;
       width:600px;
       height:165px;
       border:2px solid #B9261C;
       
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       z-index:2;
    }

    #delete_module .delete_square .belt{
        position:relative;
        float:left;
        height:163px;
        width:12px;
        background-color:#B9261C;
 
    }

    #delete_module .delete_square .alert{
        position:relative;
        float:left;
        margin-left:26.5px;
        margin-top:24px;
        margin-right:28px;
        height:28.8px;
        width:35px; 
    }

    #delete_module .delete_square .title{
        position:relative;

        height:24px;
        width:369px;
        margin-top:20px;

        font-family: HoneywellSansWeb-Extrabold;
        font-size: 16px;
        color: #303030;
        letter-spacing: 0;
        line-height: 24px;
    }

    #delete_module .delete_square .btn{
        position:relatvie;
        float:right;
        background:url(../icon/Icon_Back_interactive.png);
        margin-top:20px;
        margin-right:31.7px;
    }

    #delete_module .delete_square .question{

        position:relative;
        height:48px;
        width:435px;
        margin-top:4px;
        margin-left:76px;

        font-family: HoneywellSansWeb-Medium;
        font-size: 16px;
        color: #303030;
        letter-spacing: 0;
        line-height: 24px;
    }

/* Product Detail Introduction */

    .product_introduction
    {
        height:1668px;
        width:1441px;
    }

    
    .product_introduction .list{
        position:relative;
        border:none;      
        padding:none;
        width:1441px; 
        height:49px;
    }

    .product_introduction .list .arrow{
        float:left;
        margin-left:23px;
        margin-top:0;
        margin-right:380px;
    }


    .product_introduction .list ul{

        position:relative;
        /*去除本来的格式*/
        list-style:none;

        margin-top:25px;
      }

    .product_introduction .list ul li{
        float:left;
        border:none;
        padding:none;
        margin-right:52px;
    }

    .product_introduction .list li a{
        text-decoration:none;
        display:block;
        padding:0;
        border:none;
        margin:none;

        font-family: HoneywellSansWeb-Medium;
        font-size: 13px;
        color: #808080;
        letter-spacing: 0;
        text-align: center;
        line-height: 20px;
    }

    .product_introduction .list li a:hover{
        font-family: HoneywellSansWeb-Medium;
        font-size: 13px;
        color: #404040;
        letter-spacing: 0;
        text-align: center;
        line-height: 20px;
        border-bottom:1.5px solid royalblue;
    }

    .product_introduction .p_dome{
        
        position:relative;

        margin-left:330px;
        margin-right:330px;
        margin-top:9px;
        margin-bottom:9px;
        padding-top:16px;

        width:780px;
        height:60px;
        border: 1px solid #CECECE; 
        text-align:center;

    }

    .product_introduction p{
        text-align:center;

        font-family: HoneywellSansWeb-Bold;
        font-size: 20px;
        color: #4F4F4F;
        letter-spacing: -0.24px;
    }

    .product_introduction .pic_dome{
        text-align:center;

        width:780px;
        height:294px;
        margin-left:330px;
        margin-right:330px;
        margin-bottom:9px;
        /* padding-top:100px; */

        border: 1px solid #CECECE; 
        text-align:center;
    }

    .product_introduction .pic{
        position:relative;
        text-align:center;
        height:293px;
        width:1441px;
    }

    .product_introduction .overview_dome{

        position:relative;

        width:780px;
        height:122px;

        margin-left:330px;
        margin-right:330px;
        margin-bottom:9px;

        text-align:center;
        border: 1px solid #CECECE; 
    }

    .product_introduction .overview_edit{
        text-align:center;
        font-family: HoneywellSansWeb-Medium;
        font-size: 13px;
        color: #767676;
        letter-spacing: 0;
        line-height: 20px;
    }
    
    .product_introduction .overview{
        position:relative;
        text-align:center;
        height:40px;
        width:1441px;
        padding-left:508px;
        padding-right:491px;

        font-family: HoneywellSansWeb-Medium;
        font-size: 13px;
        color: #767676;
        letter-spacing: 0;
        line-height: 20px;
    }

    .product_introduction .Key_Features_dome{
        position:relative;
        text-align:center;
        height:283px;
        width:780px;

        margin-left:330px;
        margin-right:330px;

        border: 1px solid #CECECE;
    }

    .product_introduction .Key_Features{
        position:relative;
        text-align:center;
        height:200px;

        font-family: HoneywellSansWeb-Medium;
        font-size: 13px;
        color: #767676;
        letter-spacing: 0;
        line-height: 20px;
    }

    .product_introduction .Released_Documents{
        position:relative;
        text-align:center;
        border: 1px solid #CECECE;

        height:260px;
        width:780px;

        margin-top:9px;
        margin-left:330px;
        margin-right:330px;
    }

    
    .product_introduction .Engineering_Documents{
        position:relative;
        text-align:center;
        width:780px;
        height:355px;

        margin-top:9px;
        margin-left:330px;
        margin-right:330px;

        border: 1px solid #CECECE;
    }

     .product_introduction .Contact_Product_Owner{
        position:relative;
        height:153px;
        width:780px;
        text-align:center;

        margin-top:9px;
        margin-left:330px;
        margin-right:330px;

        border: 1px solid #CECECE;
    }

    .product_introduction  .little_dome{
        position:relative;
        text-align:center;
        
        float:left;
        height:75px;
        width:120px;
        margin-bottom:16px;            
    }

    .product_introduction .little_dome .title1{
        margin-top:4px;

        text-align:center;

        height:20px;
        font-family: HoneywellSansWeb-Medium;
        font-size: 13px;
        color: #767676;
        letter-spacing: 0;
        text-align: center;
        line-height: 20px;
    }
    
    .product_introduction .little_dome .title2{
        text-align:center;
        
        height:12px;
        font-family: HoneywellSansWeb-Book;
        font-size: 10px;
        color: #767676;
        letter-spacing: 0;
        text-align: center;
    }

    .product_introduction .medium_dome{
        position:relative;
        float:left;
        height:75px;
        width:135.25px;
        text-align:center;    

    }

    .product_introduction .medium_dome .title1{
        
        position:relative;
        text-align:center;
        margin-top:6px;
        
        height:20px;
        width:135.35px;
        font-family: HoneywellSansWeb-Medium;
        font-size: 13px;
        color: #767676;
        letter-spacing: 0;
    }

/* innovation-stories page */

    .innovation_Episode{

        position:relative; 
        float:left;
        width:330px;
        height:330px;
        margin-top:24px;
        margin-right:24px;
        margin-bottom:24px;

        padding:none;
        background: #F6F6F6;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10); 
        z-index:0;
    }

    .innovation_Episode .picture{
        position:relative;
        /* background-image:url('../img/Intrusion_BG.png'); */
        height:252px;
        width:330px;
        
        padding-top:18px;
        z-index: 1;
    }

    .innovation_Episode .picture .title{
        position:relative;
        margin-left:15px;

  
        font-family: HoneywellSansWeb-Bold;
        font-size: 23px;
        color: #FFFFFF;
        letter-spacing: -0.27px;

        z-index:2;
    }

    .innovation_Episode .picture .date{
        position:relative;
        margin-left:15px;

        font-family: HoneywellSansWeb-Medium;
        font-size: 17px;
        color: #FFFFFF;
        letter-spacing: -0.2px;
        z-index:2;
    }

    .innovation_Episode .desc{
        position:relative;
        margin-left:15px;
        margin-top:11px;

        font-family: HoneywellSansWeb-Medium;
        font-size: 13px;
        color: #767676;
        letter-spacing: -0.15px;
        z-index:1;
    }

    .innovation_Episode .read_more{
        position:relative;
        margin-left:15px;
        margin-top:5px;

        font-family: HoneywellSansWeb-Medium;
        font-size: 13px;
        color: #1792E5;
        letter-spacing: -0.15px;
        z-index:3;
    }

/* innovation_edit_page */

    .innovation_Episode_edit{
        position:relative; 
        float:left;
        width:330px;
        height:330px;
        margin-top:24px;
        margin-right:24px;
        margin-bottom:24px;

        /* padding-top:55px; */
        background: #F6F6F6;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10); 
        z-index:0;
    }

    .innovation_Episode_edit .picture_edit{

        position:relative;
        background-image:url('../img/dodo.jpg');
        height:197px;
        width:330px;
        
        padding-top:18px;
        z-index: 1;    
    }

    .innovation_Episode_edit .picture_edit .title{
        position:relative;
        margin-left:15px;

  
        font-family: HoneywellSansWeb-Bold;
        font-size: 23px;
        color: #FFFFFF;
        letter-spacing: -0.27px;

        z-index:2;
    }

    .innovation_Episode_edit .picture_edit .date{
        position:relative;
        margin-left:15px;

        font-family: HoneywellSansWeb-Medium;
        font-size: 17px;
        color: #FFFFFF;
        letter-spacing: -0.2px;
        z-index:2;
    }

    .innovation_Episode_edit .desc{
        position:relative;
        margin-left:15px;
        margin-top:11px;

        font-family: HoneywellSansWeb-Medium;
        font-size: 13px;
        color: #767676;
        letter-spacing: -0.15px;
        z-index:2;
    }

    .innovation_Episode_edit .read_more{
        position:relative;
        margin-left:15px;
        margin-top:5px;

        font-family: HoneywellSansWeb-Medium;
        font-size: 13px;
        color: #1792E5;
        letter-spacing: -0.15px;
        z-index:3;
        
    }

    .innovation_Episode_edit .modify{
        display:block;
        height:55px;
        width:330px;

    }

    .innovation_Episode_edit .modify .delete{

        float:left;
        position:relative;
        margin-left:19.4px;
        margin-top:20.4px;

    }

    .innovation_Episode_edit .modify .edit{
        float:right;
        margin-top:20.4px;
        margin-right:19.4px;
        position:relative;
    }

/* innovation-article */

    .innovation_Article {
        position:relative;
        height:1906px;
        width:1441px;
    }

    .innovation_Article .title{
        position:relative;
        padding-top:24px;
        padding-bottom:16px;
        width:1441px;
        height:70px;
    
        font-family: HoneywellSansWeb-Extrabold;
        font-size: 25px;
        color: #4F4F4F;
        letter-spacing: -0.29px;
        text-align: center;
    }

    .innovation_Article .date{
        position:relative;
        height:37px;
        width:1441px;
        padding-bottom:16px;

        font-family: HoneywellSansWeb-Medium;
        font-size: 17px;
        color: #4F4F4F;
        letter-spacing: -0.2px;
        text-align:center;
    }

    .innovation_Article .image{
        position:relative;
        width:1441px;
        height:378px;
        text-align:center;
    }

    .innovation_Article .content{
        position:relative;
        width:1441px;
        height:1421px;

        padding-left:342px;
        padding-right:342px;
        padding-top:51px;
        padding-bottom:38px;

        font-family: HoneywellSansWeb-Book;
        font-size: 18px;
        color: #393939;
        letter-spacing: 0;
    }

/* innovation-Article-edit */
/* title-edit */

    .innovation_Article .title_modify{
        position:relative;
        width:780px;
        height:60px;

        margin-top:9px;
        margin-bottom:3px;
        margin-left:330px;

        border:1px solid #CECECE;
    }
    .innovation_Article .title_modify .delete{
        position:relative;
        float:left;
        height:auto;
        width:auto;

        margin-left:16.2px;
        margin-top:17.5px;
    }

    .innovation_Article .title_modify .title{
        position:relative;
        float:left;
        width:700.4px;
        height:60px;
        text-align:center;
        padding-top:17.5px;
        padding-bottom:17.5px;

        font-family: HoneywellSansWeb-Extrabold;
        font-size: 25px;
        color: #4F4F4F;
        letter-spacing: -0.29px;
    }

    .innovation_Article .title_modify .edit{
        position:relative;
        margin-top:17.5px;
        height:auto;
        width:auto;

    }

/* date modify */
    .innovation_Article .date_modify{
        position:relative;
        height:45px;
        width:780px;
        margin-left:330px;
        margin-top:none;

        border:1px solid #CECECE; 
    }

    .innovation_Article .date_modify .delete{
        position:relative;
        float:left;
        /* 记住使用height为auto来调整模块~~ */
        height:auto;
        width:auto;

        margin-left:16.2px;
        margin-top:14px;    
    }

    .innovation_Article .date_modify .title{
        position:relative;
        float:left;
        width:700.4px;
        height:45px;
        text-align:center;
        padding-top:14px;
        padding-bottom:14px;
    
        font-family: HoneywellSansWeb-Medium;
        font-size: 17px;
        color: #4F4F4F;
        letter-spacing: -0.2px;
    }

    .innovation_Article .date_modify .edit{
        position:relative;  
        height:auto;
        width:auto;

        margin-top:14px;
    }
  
/* image edit */

    .innovation_Article .image_modify{
        position:relative;
        width:1390px;
        height:380px;
        margin-top:7px;
        margin-left:25px;

        border:1px solid #CECECE;
    }

    .innovation_Article .image_modify .delete{
        position:relative;
        float:left;
        height:auto;
        width:auto;
        margin-left:19.2px;
        margin-top:20.2px;  
        margin-right:1300px;
    }

    .innovation_Article .image_modify .edit{
        position:relative;
        height:auto;
        width:auto;
        margin-right:19.2px;
        margin-top:20.2px; 
    }

    .innovation_Article .image_modify .add_pic{
        position:relative;
        height:auto;
        width:auto;
        margin-left:667px;
        margin-right:667px;
        margin-top:79.6px;
        margin-bottom:14px;
    }

    .innovation_Article .image_modify .add_des{
        position:relative;
        height:48px;
        width:222px;

        margin-left:584px;
        margin-right:584px;

        font-family: HoneywellSansWeb-MediumItalic;
        font-size: 20px;
        color: #A3A3A3;
        letter-spacing: -0.24px;
        text-align: center;
    }

    .innovation_Article .content_modify{
        position:relative;
        width:780px;
        height:283px;

        margin-left:330px;
        margin-top:9px;
        
        border:1px solid #1792E5;
    }

    .innovation_Article .content_modify .delete{
        position:relative;
        float:left;
        height:auto;
        width:auto;
        margin-left:16.2px;
        margin-top:15.2px;  
        margin-right:690px;
    }

    .innovation_Article .content_modify .edit{
        position:relative;
        height:auto;
        width:auto;
        margin-right:21px;
        margin-top:15.2px; 

    }
    
    .innovation_Article .content_modify .add_pic{
        position:relative;
        height:auto;
        width:auto;
        margin-left:362px;
        margin-right:362px;
        margin-top:47.6px;
        margin-bottom:14px;

    }

    .innovation_Article .content_modify .add_des{
        position:relative;
        height:48px;
        
        text-align:center;

        font-family: HoneywellSansWeb-MediumItalic;
        font-size: 20px;
        color: #A3A3A3;
        letter-spacing: -0.24px;
    }


    
    


   



   
  
    
 