/* video products details:list part */
project_list,project_item,product_list,product_clause
{
    color:#6D6D6D;
}

project_list
{
    position:relative;
    margin-left:50px;
    margin-top:24px;
    padding:none;
    border:none;
}

project_item,project_item a

{
    font-family: HoneywellSansWeb-Bold;
    font-size: 18px;
    color: #6D6D6D;
    letter-spacing: 0;
    line-height: 24px;
}

project_item a:hover{
    text-decoration: none;
    color: #1792E5 100%;
    }

.project_list .product_list{
    position:relative;
    margin-left:13px;
    font-family: HoneywellSansWeb-Medium;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
    }